body{
    font-family: sansation;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
   
}

@font-face{
    font-family: myFont;
    src:url(font/Sansation_Bold);
}

p{
    color: #000000;
}




// header starts here 
header{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1090;

    
   
    .bg-light{
        background-color: white !important;
       
    }

    .navbar-light .navbar-nav .nav-link{
        color: #991B1F !important;
        
        
    }

    .btn-download{
        background-color: #991B1F;
        color: #fff;
    }


    .btn-download:hover{
        background-color:#991B1F;
        color: #fff;
    }

    .navbar-toggler:focus{
        box-shadow: none;
    }


    .navbar-light .navbar-toggler{
        border-color: white!important;
    }
}

// Header end here 


// banner starts here 
.banner{
    width: 100%;
    height: 100vh;
    background: url("../img/C-6A\ \(3\).png");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   

    .banner-text{
        color: #fff;

        h1{
            font-size: 5rem;
            font-weight: 700;
        }

        .btn-eng{
            background-color: #991B1F;
            border: #991B1F;
            color: #fff;
            

        }

        .btn-eng:hover{
            color: #fff;
        }
    }
}


// banner end here 


// About starts here 
.about{
    padding-top: 7rem;
    padding-bottom: 7rem;

    .about-left{
        position: relative;
        
        img{
            border-radius: 20px 100px 20px 20px;
            
        }

        
    }

    .about-right{

        padding-top: 12rem;
        

        h1{
            color: #991B1F;
            font-weight: 600;
        }

        .btn-let{
            color:#ffff;
        }

        .btn-let{
            background-color: #991B1F;
        }




    }
}
// about end here 

// empty image starts here 
.empty{
    padding-bottom: 7rem;
}
// empty end here 


// major starts here 

.major{
    padding-bottom: 7rem;

    h1{
        color: #991B1F;
        font-weight: 600;
    }

    p{
        font-weight: 500 !important;
    }
}

.major-items{
    border-radius: 16px;
    background: #FFF;
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.10);
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    border-radius: 5px;

    img{
        color: #991B1F;
    }

    p{
        margin-bottom: 0px;
        padding-top: 1rem;
    }


}

// plan starts here 
.plan{
    padding-bottom: 7rem;
    h1{
        color: #991B1F;
        font-weight: 600;
    }

   

    .master-main{
        max-width: 600px;
        height: 50px;
        display: flex;
        justify-content:center;
        margin: 0 auto;
        text-align: center;
        h6{
            line-height: 3;
            color: #991B1F;
            font-weight: 600;
           
        }

        .h6{
            color: #fff;
            font-weight: 600;
        }       

        .master{
            background-color: #F4E8E8;
            width: 300px;
            height: 50px;
            border-radius: 100px 0px 0px 100px;
            position: relative;
            left: 20px;
            border: 0;
            font-weight: 600;
            
            
        }

        .master:focus{
            background-color: #991B1F;
            color: #fff;
           
        }


        .floor{
            background-color:#F4E8E8 ;
            width: 300px;
            height: 50px;
            border-radius: 100px;
            z-index: +1090;
            position: relative;
            left: -20px;
            border: 0;
            color:#000000;
            font-weight: 600;
            
            
        }


        .floor:focus{
            background-color: #991B1F;
            color: #F4E8E8;
        }

    }

    .img-text{
       
        p{
            .red{
                color: #991B1F;
                font-weight: bold;
            }

            .black{
                color: #000000;
                font-weight: bold;
            }
        }
    }
}


// Contact starts here 
.contact{
    padding-bottom: 7rem;

    h1{
        color: #991B1F;
        font-weight: 600;
    }

    .contact-left{
        
        a{
            text-decoration: none;
            color: #000000;
        }
        
        .contact-left-item{
           
            border-radius: 16px;
            background: #FFF;
            box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.10);

            h6{
                color: #991B1F;
            }
        }
    }

    .contact-right{
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.10);
        padding-bottom: 1.5rem !important;
        .form-control:focus{
            outline: none;
            box-shadow: 0.5px 0.5px 1px 3px  #969291;
            border: 2px solid #969291;
        }
    
        .form-control{
            border: 2px solid #969291;
        }
    
        .submit:focus{
            outline: none;
            box-shadow: 0.5px 0.5px 1px 3px  #969291;
            border: 2px solid #969291;
        }
    
        .submit{
            background-color:#991B1F;
            border-color: #AD484B;
            color: white;
            border: 0;
            border-radius: 3px;
            
        }

        textarea{
            color: grey;
        }
    }
}

// footer starts here 
footer{
    background-color: #991B1F;
    width: 100%;
    height: 57px;
    color: #fff;

    p{
        line-height: 3.5;
        color: #fff;
    }
}


// media query starts here 

@media only screen and (max-width:1130px){
    .about .about-right {
        padding-top: 6rem;
    }
}

@media only screen and (max-width:992px){
    .me-5{
        margin-right: 0px !important;
    }

    .about-left{
        text-align: center;
    }

    .about .about-right {
        padding-top: 3rem;
        text-align: center;
    }
}

@media only screen and (max-width:768px){
    .plan .master-main .floor{

        width: 170px;
        height: 40px;
        border-radius: 100px;
        z-index: 1090;
        position: relative;
        left: -26px;
    }

    .plan .master-main .master {
        width: 170px;
        height: 40px;
        border-radius: 100px;
        z-index: 1090;
        position: relative;
        left: 4px;
    }

    .plan .master-main h6{
        line-height: 2.5;
    }

    .banner .banner-text h1 {
        font-size: 3rem;
    }

    .about .about-right {
        padding-top: 4rem;
        text-align: center;
    }

    .about-left{
        text-align: center;
    } 
    
}

@media only screen and (max-width:500px){
    .banner .banner-text h4 {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: sansation;
    }

    .navbar-brand{
        img{
            width: 50px;
            height: 36px;
        }
    }

    .navbar-toggler{

        img{
            width: 32px;
            height: 32px;
        }
    }

    header{
        height: 65px;
    }



    input{
        font-size: 13px !important;
    }

    textarea{
        font-size: 13px !important;
    }

    .right p{
        font-size: 13px;
    }

    .banner .banner-text h1 {
        font-size: 3rem;
        font-weight: 500;
    }

    .contact .contact-right, .contact .contact-left .contact-left-item {
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.1);
        padding-bottom: 0.5rem !important;
        padding-top: 1.5rem !important;
    }

    .major-dif {
        width: 160px;
        margin: 0 auto;
    }



    .plan .master-main .floor, .plan .master-main .master{
        width: 150px;
    }

    .banner {
        width: 100%;
        height: 600px;
        background: url("../img/mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-position: center;
        
    }

    .about-left{
        text-align: center;
    }

    .about .about-right {
        padding-top: 3rem;
        text-align: center;
    }

    .major-items{
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 0rem 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 160px;
        border-radius: 5px;
        
        
    
    }

    .p-5 {
        padding: 1rem!important;
    }

    footer p {
        line-height: 5;
        color: #fff;
        font-size: 12px;
    }

    .major p {
        font-weight: 500 !important;
        font-size: 13px;
    }

    .major-dif {
        width: 200px;
        margin: 0 auto;
    }

}

@media only screen and (max-width:414px){


    .major-items{
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 0rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 160px;
        border-radius: 5px;
        
    
    }
}

@media only screen and (max-width:413px){


    .major-items{
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 0rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 160px;
        border-radius: 5px;
        
    
    }
}



@media screen and (min-device-width: 200px) and (max-device-width: 400px) { 
    .major-items{
        border-radius: 16px;
        background: #FFF;
        box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.1);
        padding: 0rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 160px;
        border-radius: 5px;
        
    
    }

}




